body{
	font-family: Arial, Helvetica, sans-serif;
}

.bg-main{
	background-color: #FF4C01;
}

.txt-oge{
	color: #FF4C01;
}

#header-nav{
	min-width: 964px;
    height: 58px;
    padding: 0px 0px 3px 5px;
}   

#picture{
	margin-top: 5px;
} 
    
.wrap{
	min-width: 800px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 5px;
}

#menu{
	width: 220px;
	max-width: 220px;
	z-index: 999;
	position: relative;
	font-size: 13px;
}

#content{
	margin-left: 219px;
	min-height: 700px;
	border:1px solid #000 !important;
	margin-top: -2px;
	padding: 30px 20px;
	font-size: 12px;
	
}

#solicitudes{
	max-width: 1060px;
}

.nav-pills>li.active>a{
	background: #fff !important;
	color:#000 !important;
	border-right: none;
}
.nav-pills>li{
    margin-top: 0px !important;
}

.nav-pills>li:first-child > a{
	border-top: 1px solid #000 !important;
}

.nav-pills>li>a{
	background: #f5f5f5 !important;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	color:#000 !important;
	border-radius: 0;
}

/*------------nuevo-----------*/

.field-ts-1,.field-ts-2{
	display: none;
}

.active-ts1 .field-ts-1,.active-ts2 .field-ts-2{
	display: block !important;
}

#buttons{
	display: none;
}

.arrow{
	position: absolute;
    right: 4px;
    z-index: 999;
    top: 12px;
}

a.menu {
padding-left: 10px !important;
}

#wrap_plantear_solucion,#wrap_procesar_solucion{
	display:none;
}

.optBtn {
	width:56px;
	display:block;
	margin:3px 0;
}






